<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off">

  <targets>
    <target xsi:type="File" name="portal" fileName="${basedir}/logs/portal-${shortdate}.log" layout="${longdate}|${uppercase:${level}}|${logger}|${ndc:separator=+}${ndlc:separator=+}|${message}|${exception:format=ToString,StackTrace}" maxArchiveFiles="30" />
    <target xsi:type="Console" name="portal-terminal" layout="${longdate}|${uppercase:${level}}|${logger}|${message}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="portal" />
    <logger name="BTCPayServer.Stream.*" minlevel="Debug" writeTo="portal-terminal" final="true" />
    <logger name="Microsoft.Hosting.Lifetime" minlevel="Info" writeTo="portal-terminal" />
    <logger name="*" minlevel="Error" writeTo="portal-terminal" />
  </rules>
</nlog>
