@using BTCPayServer.Stream.Portal.ViewModels.Account;

@model LoginFormViewModel

@{
    Layout = null;
    ViewData["Title"] = "Login";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-PFRWBBDY5W"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-PFRWBBDY5W');
    </script>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BTCPayServer.Stream</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    @*<link rel="stylesheet" href="~/lib/fontawesome-free-5.15.1-web/css/all.min.css" />*@
    <link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />
</head>
<body>
    <main role="main" class="pb-3">
        <div class="outer">
            <div class="middle">
                <div class="form-container" id="LoginFormContainer">
                    <h4>@CommonResource.Title_SignIn</h4>
                    <hr />
                    <form asp-action="Login" method="post" id="LoginForm">
                        <div class="form-group form-group-required">
                            <label asp-for="Email" class="control-label"></label>
                            <input asp-for="Email" class="form-control" autocomplete="off" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-group form-group-required">
                            <label asp-for="Password" class="control-label"></label>
                            <input asp-for="Password" type="password" class="form-control" autocomplete="off" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Login" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </main>

    <div class="site-loader">
        <div class="loader"><div></div><div></div><div></div><div></div></div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-form/dist/js/jquery.form.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <environment include="Development">
        <script src="~/js/AjaxForm.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#LoginForm').AjaxForm();
        });
    </script>
</body>
</html>
