@{
    Layout = "_LayoutPublic";
    ViewData["Title"] = CommonResource.Title_Acknowledgment;
}

<h3 style="padding-top: 100px; text-align: center; text-transform: uppercase; font-size: 40px;">@CommonResource.Message_ThankYouForTip</h3>