<h6>Are you sure you want to disconnect <b>Streamlabs</b>?</h6>
<div>
    <form asp-action="Logout" method="post">
        <div class="form-group">
            <input type="submit" value="Disconnect" class="btn btn-danger" />
        </div>
    </form>
</div>
