<h6>@Html.Raw(string.Format(CommonResource.Question_ReallyDisconnect_Pattern, "<b>Streamlabs</b>"))</h6>
<div class="modal-form-container">
    <form asp-action="Logout" method="post">
        <div class="form-group">
            <input type="submit" value="@CommonResource.Button_Disconnect" class="btn btn-danger" />
        </div>
    </form>
</div>
